In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, precision_score, recall_score, accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

import acquire

In [3]:
df = acquire.get_telco_data()

In [4]:
df.head()

,internet_service_type_id,payment_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,payment_type,internet_service_type
0,1,2,3,0016-QLJIS,Female,0,Yes,Yes,65,Yes,...,Yes,Yes,Yes,Yes,90.45,5957.9,No,Two year,Mailed check,DSL
1,1,4,3,0017-DINOC,Male,0,No,No,54,No,...,Yes,Yes,No,No,45.20,2460.55,No,Two year,Credit card (automatic),DSL
2,1,3,3,0019-GFNTW,Female,0,No,No,56,No,...,Yes,No,No,No,45.05,2560.1,No,Two year,Bank transfer (automatic),DSL
3,1,4,3,0056-EPFBG,Male,0,Yes,Yes,20,No,...,Yes,No,No,Yes,39.40,825.4,No,Two year,Credit card (automatic),DSL
4,1,3,3,0078-XZMHT,Male,0,Yes,No,72,Yes,...,Yes,Yes,Yes,Yes,85.15,6316.2,No,Two year,Bank transfer (automatic),DSL

In [5]:
df.describe()

,internet_service_type_id,payment_type_id,contract_type_id,senior_citizen,tenure,monthly_charges
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,1.872923,2.315633,1.690473,0.162147,32.371149,64.761692
std,0.737796,1.148907,0.833755,0.368612,24.559481,30.090047
min,1.000000,1.000000,1.000000,0.000000,0.000000,18.250000
25%,1.000000,1.000000,1.000000,0.000000,9.000000,35.500000
50%,2.000000,2.000000,1.000000,0.000000,29.000000,70.350000
75%,2.000000,3.000000,2.000000,0.000000,55.000000,89.850000
max,3.000000,4.000000,3.000000,1.000000,72.000000,118.750000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   internet_service_type_id  7043 non-null   int64
 1   payment_type_id           7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  payment_type              7043 non-null   object
 23  internet_service_type     7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

In [7]:
df.isnull()

,internet_service_type_id,payment_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,payment_type,internet_service_type
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7039,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7040,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7041,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7042,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
df.value_counts()

internet_service_type_id  payment_type_id  contract_type_id  customer_id  gender  senior_citizen  partner  dependents  tenure  phone_service  multiple_lines  online_security      online_backup        device_protection    tech_support         streaming_tv         streaming_movies     paperless_billing  monthly_charges  total_charges  churn  contract_type   payment_type               internet_service_type
1                         1                1                 0015-UOCOJ   Female  1               No       No          7       Yes            No              Yes                  No                   No                   No                   No                   No                   Yes                48.20            340.35         No     Month-to-month  Electronic check           DSL                      1
2                         3                2                 5593-SUAOO   Female  0               Yes      Yes         24      Yes            Yes             No                   Yes                  Yes                  No                   No                   No                   No                 83.15            2033.05        No     One year        Bank transfer (automatic)  Fiber optic              1
                                                             6668-CNMFP   Female  0               Yes      Yes         19      Yes            Yes             No                   No                   No                   Yes                  No                   Yes                  Yes                89.35            1686.85        No     One year        Bank transfer (automatic)  Fiber optic              1
                                                             6500-JVEGC   Male    0               No       No          68      Yes            Yes             Yes                  Yes                  Yes                  No                   Yes                  No                   No                 101.35           7110.75        No     One year        Bank transfer (automatic)  Fiber optic              1
                                                             6465-GSRCL   Female  0               No       Yes         67      Yes            Yes             No                   Yes                  No                   Yes                  Yes                  Yes                  Yes                106.60           7244.7         No     One year        Bank transfer (automatic)  Fiber optic              1
                                                                                                                                                                                                                                                                                                                                                                                                                         ..
1                         4                3                 6885-PKOAM   Female  0               Yes      No          71      Yes            Yes             Yes                  Yes                  Yes                  Yes                  Yes                  Yes                  No                 85.75            6223.8         No     Two year        Credit card (automatic)    DSL                      1
                                                             6870-ZWMNX   Male    0               Yes      No          70      Yes            Yes             No                   Yes                  Yes                  Yes                  Yes                  No                   No                 76.10            5264.25        No     Two year        Credit card (automatic)    DSL                      1
                                                             6741-QRLUP   Female  0               No       No          63      Yes            Yes             Yes                  Yes                  Yes                  Yes                  No                   Yes                  Yes                80.30            4995.35        No     Two year        Credit card (automatic)    DSL                      1
                                                             6732-VAILE   Male    0               Yes      Yes         70      Yes            Yes             No                   Yes                  Yes                  Yes                  Yes                  Yes                  Yes                85.95            5931.75        No     Two year        Credit card (automatic)    DSL                      1
3                         4                3                 9975-GPKZU   Male    0               Yes      Yes         46      Yes            No              No internet service  No internet service  No internet service  No internet service  No internet service  No internet service  No                 19.75            856.5          No     Two year        Credit card (automatic)    None                     1
Length: 7043, dtype: int64